body {
    background-color: hsl(0, 0%, 8%);
    font-family: 'Inter', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

p {
    font-size: 14px;
    font-weight: 400;
}

main{
    background-color: hsl(0, 0%, 12%);
    color: hsl(0, 0%, 100%);
    padding: 30px;
    border-radius: 10px; 
    text-align: center;
    width: 250px;
}

img {
    border-radius: 50%;
    width: 75px;
}

h3 {
    margin-bottom: 5px;
}

.green {
    color: hsl(75, 94%, 57%);
    margin-top: 0px;
}

nav a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 20%);

    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
}

nav a:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}


footer { 
    color: hsl(0, 0%, 20%);
    font-size: 11px; 
    text-align: center;
    position: absolute;
    bottom: 10px; 
}

footer a { 
    color: hsl(75, 94%, 57%); 
}